{% extends 'base.html' %}  <!-- 繼承 base.html -->

{% block content %}
    <h2>Details: {{ object.name }}</h2>
    <img src="{{ object.pic.url }}" height="300" /><br>

    <b>Title: </b> {{ object.name }}  <br>

    <b>Introduction: </b> {{ object.introduction }} <br>

    <h3>Related Recipes:</h3>
    <ul>
      {% for recipe in recipes %}
        <li>
          <a href="{% url 'recipes:recipe_detail' recipe.recipe.id %}">
            {{ recipe.recipe.name }}
          </a>
        </li>
      {% empty %}
        <li>No recipe listed.</li>
      {% endfor %}
    </ul>
{% endblock %}
